@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap');

html,body{
    padding : 0;
    margin : 0;
    height : 100%;
}

#root{
    height : 100%;
}
body{
    color : #FBCF14;
    font-family: 'Lato', sans-serif;
    background: radial-gradient(ellipse at center, rgba(0,0,0,0.67) 0%, rgba(0,0,0,0.67) 11%, rgba(0,0,0,1) 92%, rgba(0,0,0,1) 100%);

}

body::after {
    content: "";
    background: url("batik-small.png");
    opacity: 0.15;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.App{
    height : 100%;
}

.participant h4{
    position: absolute;
    background-color: rgba(0,0,0,0.6);
    padding: 1rem;
    bottom: 0px;
    margin : auto;
    z-index: 99;
}

.participant {
    position:relative;
    border: 1px solid #FBCF14;
    background-color: rgba(0,0,0,0.6);
    overflow: hidden;
}

.video{
    position: absolute;
}

.MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl{
    left : 20px !important;
}

.MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-shrink{
    top: 5px !important;
}

.MuiInputBase-root{
    color: #FFFFFF !important;
}
.MuiFormLabel-root{
    color: #FFFFFF !important;
}
.MuiInput-underline:before{

    border-bottom: 2px solid rgba(255,255,255,0.9) !important;
}
.MuiInput-underline:after{
    border-bottom: 2px solid #FBCF14 !important;
}
.MuiButton-contained{
    background-color: #FBCF14 !important;
}
